.ck-content {
  min-height: 400px;

  > blockquote,
  > dl,
  > dd,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > hr,
  > figure,
  > p,
  > pre {
    margin: revert;
  }

  > ol,
  > ul {
    list-style: revert;
    margin: revert;
    padding: revert;
  }

  > table {
    border-collapse: revert;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    font-size: revert;
    font-weight: revert;
  }
}
