.vfm__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10%;

  .vfm__content {
    position: relative;
    width: 100%;
    max-width: theme("maxWidth.lg");
    height: auto;
    max-height: 800px;
    padding: 16px;
    overflow: auto;
    background-color: #fff;
    border-radius: 4px;
  }

  .vfm__close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin: 8px 8px 0 0;
    cursor: pointer;
  }
}

.dark {
  .vfm__container {
    .vfm__content {
      --tw-bg-opacity: 1;
      background-color: rgb(26 27 30 / var(--tw-bg-opacity));
    }
  }
}
